/* 
NOTES:

+To change header background modify {.header.background-color}
+To chnage header text modify {.header.color}
+{Header-content, .inner, p} is set to #222 (black)

+To change navbar background color modify {#topNav.background-color} which is currently #FFF (white)
+To change navbar branding modify {@media(min-width:48em) -> .navbar-brand.color}
+To change navbar items modify {@media(min-width:48em) -> .navbar .navbar-nav > li > a, .navbar .navbar-nav> li > a:focus.color} which is currently set to #001A33 (medium dark blue)
+To change navbar "hover" items modify {@media(min-width:48em) -> .navbar .navbar-nav > li > a:hover, .navbar .navbar-nav > li > a:focus:hover.color} which is currently set to #001A33 (medium dark blue)
+To change navbar scroll "hover" items modify {.navbar .navbar-nav .nav-link.active,.navbar .navbar-nav .nav-link.active:focus}

BUTTONS
btn btn-primary-outline (e.g. Login)


btn btn-secondary-outline (e.g. Subscribe, Signup)


btn btn-primary (e.g. Section)


+To change footer background modify {footer.background-color}
+To change footer topic headers modify {footer h4, footer h6} which are currently #FFF (white)


LOGO NOTES
+The font used in logo is 'Microma'.

Brand Colors
#ee7600 - deep orange 
#001a33 - deep dark blue
#7e7373 - deep medium silver
#cdcdcd - medium grey
#838383 - deep dark grey
#A9A9A9 - dark grey
#353A3F - dark blue RGB(53,58,63)
#6f6f70 - deep grey RBG(111,111,112)

*/



@viewport {
	zoom: 1.0; /* same as initial-scale=1 */
	width: device-width;
}

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }

.debugBorder {
	border: 0.3rem solid #F00; /* set border color to red */
}

.debugText {
	color:#F00; /* set text color to red */
}

.debugBackground {
	background-color:#F00; /* set background color to red */
}


html,
body {
	width: 100%;
    height: 100%;
	/* background-image: url(../img/subtle_dots.png); */
}

body {
    font-family: 'Open Sans', 'Lato', Arial,sans-serif;
    /* color: #001a33; real dark navy blue; RGB value is (0,26,51) */
    color: #353A3F; /* deep dark blue; RGB value is (53,58,63) */
    webkit-tap-highlight-color: #222;
    top:0;
    background-color: #fff; /* white; RGB value is (255,255,255) */
    background-image: url(../img/subtle_dots.png);
}

/* workaround modal-open padding issue */
body.modal-open {
    padding-right:0 !important;
}

.wrapper {
	position: relative;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -60px;
}

hr {
    max-width: 120px;
    border-width: 3px;
    opacity: 0.08;
    margin-top: 25px;
    margin-bottom: 25px;
}

hr.light {
    border-color: #fff; /* white; RGB value is (255,255,255) */
    opacity: 1;
}

hr.primary {
    /* border-color: #007FFF;  dark sky blue; RGB value is (0,127,255) */
    border-color: #838383;  /* deep dark grey; RGB value is (131,131,131) */
    opacity: 1;
}

a {
    color: #007FFF; /* dark sky blue */  /* DEAL WITH THIS */
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

a:hover,
a:focus {
    color: #222222; /* black; RGB value is (34,34,34) */
    /* hot pink #FF69B4 */
    outline: 0;
}

p {
    font-size: 17px;
    line-height: 1.7;
    margin-bottom: 20px;
    /* font-family:'Helvetica Neue',Arial,sans-serif; */
    font-family: 'Open Sans', 'Loto', Arial,sans-serif;
}

.text-normal .text-normal-italic .text-normal-bold {
	/* font-family:'Helvetica Neue',Arial,sans-serif; */
	font-family: 'Open Sans', 'Lato', Arial,sans-serif;
}

.text-normal-italic {
	font-style: italic;
}

.text-normal-bold {
	font-weight: bold;
}

.text-emphasize {
	text-decoration: underline;
}

.wide-space {
    letter-spacing: 1.6px;
}

.icon-lg {
    font-size: 50px;
    line-height: 18px;
}

.bg-primary {
    /* background-color: #007FFF;  dark sky blue; RGB value is (0,127,255) */
    background-image: url(../img/subtle_dots.png);
}

.bg-alt {
    background-color: #fff; /* white or #fff; RGB value is (255,255,255) */
    background-image: url(../img/subtle_surface.png);
}

.bg-light {
	background-color: #f4f5f5 !important; /* very light deep dark blue; RGB value is (244,245,245) */
	border: 0.1rem solid #dbdcdc !important; /* very light deep dark blue; RGB value is (219,220,220) */
}

.bg-dark {
	background-color: #E0E1E2 !important; /* light silver; RGB value is (224,225,226) */
	border: 0.1rem solid #E0E1E2 !important; /* light silver; RGB value is (224,225,226) */
}

.text-faded {
    color: rgba(245,245,245,0.7);  /* white smoke; #f5f5f5 */
}

.text-dark {
    /* color: #001A33 !important;  real dark navy blue; RGB value is (0,26,51) */
    color: #353A3F; /* deep dark blue; RGB value is (53,58,63) */
}

.text-medium {
	opacity: 0.7;
}

.text-light {
    color: #fff; /* white; RGB value is (255,255,255) */
}

.text-light:hover,
.text-light:focus {
    color: #eee; /* light grey; RGB value is (238,238,238) */
    text-decoration:none;
}

.text-primary {
    /* color: #007FFF; dark sky blue; RGB value is (0,127,255) */
    color: #838383 !important; /* deep dark grey; RGB value is (131,131,131) */
}

section {
    padding: 70px 0;
}

aside {
    padding: 45px 0;
}

textarea {
    resize: none;
}

.call-to-action h2 {
    margin: 0 auto 20px;
}

.featured-image {
	margin-top: 20px;
	max-width: 125px;
	height: 75px;
}

.photo-section-img-box {
	max-width: 100%;
}

.photo-section-img-box::after {
	display: block;
	position: relative;
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #E0E1E2 100%);
  	margin-top: -50px;
  	height: 50px;
  	content: '';
  	width: 100%;
}

.photo-section-image {
	opacity: 1.0;
}

.breadcrumb-dot .breadcrumb-item  + .breadcrumb-item::before{
	content: "."
}

.push {
	height: 60px;
}

blockquote {
	border-left: 5px solid rgba(0,0,0,.125);
	padding-left: 1.25rem;
}

footer {
    padding: 45px;
    padding-top: 40px;
    background-color: #353A3F; /* deep dark blue; RGB value is (53,58,63) */
    /*background-image: url(../img/otis_redding.png);*/
}

footer h4, 
footer h6 {
    color: #fff;  /* white; RGB value is (255,255,255) */
}

footer p,
footer a {
	color: #6f6f70;  /* deep grey; RGB value is (111,111,112) */
}

footer a:hover, a:focus {
	color: #8B8B8C;  /* white; RGB value is (139,139,140) */
	text-decoration: none;
	outline: 0;
}

.footer-text-emphasize {
	color: #fff;  /* white; RGB value is (255,255,255) */
	text-decoration: underline;
}

.footer-icon {
	font-size: 50px;
	color: #fff; /* white; RGB value is (255,255,255) */
}

#footer-header {
	background-color: #fff;
	padding: 30px;
	padding-top: 25px;
	width: 100%;
}

#footer-header h4, #footer-header h5, #footer-header h6 {
	color: #353A3F; /* deep dark blue; RGB value is (53,58,63) */
}

.list-group-item, .card-footer {
    background-color: transparent;
}

/*
@supports (transition: initial) {
	.btn.btn-primary {
		/* background-color: transparent; */
		background-color: #ffffff; /* white; RGB(255,255,255) */
		border: 2px solid #838383 !important; /* darker grey; RGB(131,131,131) */
		-webkit-transition: all .35s;
		-moz-transition: all .35s;
		transition: all .35s;
		color: #838383 !important; /* darker grey; RGB(131,131,131) */
	}
}

.btn.btn-primary {
	/* background-color: transparent; */
	background-color: #ffffff; /* white; RGB(255,255,255) */
	border: 2px solid #838383 !important; /* darker grey; RGB(131,131,131) */
	transition: all .35s;
	color: #838383 !important; /* darker grey; RGB(131,131,131) */
}

.btn.btn-primary:hover {
    /* opacity: 0.7; */
    color: #ffffff !important; /* white; RGB(255,255,255) */
    background-color: #838383;
    border-color: #838383 !important;
    transition: all 0.4s ease 0s;
}
*/

.btn-light {
	border: 2px solid #F5F5F5; /* white smoke; RGB value is (245,245,245) */
	background-color: #F5F5F5; /* white smoke; RGB value is (245,245,245) */
	transition: all .35s;
	color: #cecece !important; /* darker light gray: RGB value is (206,206,206) */
}

.btn-light:hover {
	border-color: #cecece; /* darker light gray: RGB value is (206,206,206) */
	background-color: #cecece; /* darker light gray: RGB value is (206,206,206) */
	transition: all .35s;
	color: #F5F5F5 !important; /* white smoke; RGB value is (245,245,245) */
}

.btn-light-outline {
	border-color: #353A3F; /* deep dark blue; RGB value is (53,58,63) */
	color: #353A3F !important; /* deep dark blue; RGB value is (53,58,63) */
	opacity: 0.6;
	transition: all .35s;
}

.btn-light-outline:hover {
	background-color: #F5F5F5; /* white smoke; RGB value is (245,245,245) */
	opacity: 1.0;
	transition: all 0.4s ease 0s;
}

.btn-light-outline:focus {
	color: #353A3F; /* deep dark blue; RGB value is (53,58,63) */
	opacity: 0.6;
	transition: all .35s;
}

.btn-secondary-outline {
	/* border-color: #A0B7BC;  This is the standard bootstrap color */
	border-color: #ee7600; /* deep orange; RGB value is (255,128,0) */
	/* color: #A0B7BC;	 This is the standard bootstrap color */
	color: #ee7600; /* deep orange; RGB value is (255,128,0) */
	transition: all .35s;
}

.btn-secondary-outline:hover {
	background-color: #ee7600; /* deep orange; RGB value is (255,128,0) */
    color: #353A3F; /* deep dark blue; RGB value is (53,58,63) */
	transition: all 0.4s ease 0s;
}

.btn-secondary-outline:focus {
	color: #ee7600; /* deep orange; RGB value is (255,128,0) */
	transition: all .35s;
}

.btn-info {
	background-color: #5084e6; /* deep light blue; RGB(80,132,230) */
	border: 2px solid #5d8eea !important; /* lighter deep light blue; RGB(93,142,234) */
	transition: all .35s;
	color: #ffffff; /* white; RGB(255,255,255) */
}

.btn-info:hover {
	background-color: #3863b5; /* darker deep light blue; RGB(56,99,181) */
	border: 2px solid #3863b5 !important; /* darker deep light blue; RGB(131,169,239) */
	transition: all .35s;
	color: #ffffff; /* white; RGB(255,255,255) */
}

.btn-info-outline {
	background-color: #ffffff; /* white; RGB(255,255,255) */
	border: 2px solid #5084e6; /* deep light blue; RGB(80,132,230) */
	transition: all .35s;
	color: #5084e6; /* deep light blue; RGB(80,132,230) */
}

.btn-info-outline:hover {
	background-color: #5084e6; /* deep light blue; RGB(80,132,230) */
	border: 2px solid #5d8eea !important; /* lighter deep light blue; RGB(93,142,234) */
	transition: all .35s;
	color: #ffffff; /* white; RGB(255,255,255) */
}

.btn-info-outline:focus {
	color: #5084e6; /* deep light blue; RGB(80,132,230) */
	transition: all .35s;
}

.btn-dark {
	background-color: #5c6c7c; /* lighter deep dark blue; RGB value is (53,58,63) */
	border: 2px solid #5c6c7c !important; /* lighter deep dark blue; RGB value is (53,58,63) */
	transition: all .35s;
	color: #ffffff; /* white; RGB(255,255,255) */
}

.btn-dark:hover {
	background-color: #353A3F; /* deep dark blue; RGB value is (53,58,63) */
	border: 2px solid #7d8996 !important; /* deep dark blue; RGB(53,58,63) */
	transition: all .35s;
	color: #ffffff; /* white; RGB(255,255,255) */
}

.btn-dark-outline {
	background-color: #ffffff; /* white; RGB(255,255,255) */
	border: 2px solid #353A3F !important; /* deep dark blue; RGB(53,58,63) */
	transition: all .35s;
	color: #353A3F; /* deep dark blue; RGB(53,58,63) */
	opacity: 0.5;
}

.btn-dark-outline:hover {
	background-color: #353A3F; /* deep dark blue; RGB value is (53,58,63) */
	border: 2px solid #7d8996 !important; /* deep dark blue; RGB(53,58,63) */
	transition: all .35s;
	color: #ffffff; /* white; RGB(255,255,255) */
	opacity: 1.0;
}

.btn-dark-outline:focus {
	color: #353A3F; /* deep dark blue; RGB(53,58,63) */
	transition: all .35s;
	opacity: 1.0;
}

.btn-xl {
    padding: 15px 30px;
    font-size: 20px;
}

.profile-sidebar-img {
	max-width: 150px;
	height: auto;
}

.profile-sidebar {
	max-width: 500px;
	height: 250px;
	margin-top: 30px;
}

.profile-feature {
	margin-top: 10px;
	background-color: #fff;
	padding: 15px 15px 15px 15px;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #A9A9A9; /* dark grey */
	border-radius: 5px;
}

.logo {
	font-family: 'Open Sans', 'Lato', Arial,sans-serif;
}

.logo a {
	color: rgba(0,0,0,.9);
}

.logo a:hover,
.logo a:active {
	text-decoration: none;
}

.logo-tagline {
	color: #f00;
	opacity: 0.6;
	color: #800000;  /* deep red or RGB(128,0,0) */
}

.bottom-padding-major {
	padding: 75px;
	padding-top: 70px;
	width: 100%;
}

.bottom-padding-minor {
	padding: 35px;
	padding-top: 30px;
	width: 100%;
}

::-moz-selection {
    text-shadow: none;
    color: #fff; /* white; RGB value is (255,255,255) */
    background: #222; /* black; RGB value is (34,34,34) */
}

::selection {
    text-shadow: none;
    color: #fff; /* white; RGB value is (255,255,255) */
    background: #222; /* black; RGB value is (34,34,34) */
}

img::selection {
    color: #fff; /* white; RGB value is (255,255,255) */
    background: 0 0;
}

img::-moz-selection {
    color: #fff; /* white; RGB value is (255,255,255) */
    background: 0 0;
}