{% load static %}

<footer id="footer">
	<div class="container-fluid py5">
		<div class="container">
			<div class="row">
					<!-- Grid column -->
				<div class="col-md-6 text-center">
					<h6 class="text-uppercase">Digital Fusion Software Group</h6>
					<div class="container ">
						<img class="img-fluid" alt='' width=75 height=75 src="{% static 'img/digitalfacets_logo_v2_500x500.png' %}">
					</div>
					<p><small>Innovation | Creativity | Multi<span class="wide-space footer-text-emphasize">facet</span>ed</small></p>
				</div>
				<!-- Grid column -->
				
				
				<!-- Grid column -->
				<div class="col">
					<h6 class="text-uppercase">Site</h6>
					<ul class="list-unstyled">
						<li>
							<a href="#!">Portfolio</a>
						</li>
						<li>
							<a href="#!">Blog</a>
						</li>
						<li>
							<a href="#!">Discourse</a>
						</li>
						<li>
							<a href="#!">Photography</a>
						</li>
					</ul>
				</div>
				<!-- Grid column -->
				
				
				<!-- Grid column -->
				<div class="col">
					<h6 class="text-uppercase">Follow</h6>
					<ion-icon ios="logo-twitter" md="logo-twitter" class="footer-icon"></ion-icon>&nbsp;<ion-icon ios="logo-snapchat" md="logo-snapchat" class="footer-icon"></ion-icon>&nbsp;<ion-icon ios="logo-github" md="logo-github" class="footer-icon"></ion-icon>&nbsp;<ion-icon ios="logo-instagram" md="logo-instagram" class="footer-icon"></ion-icon>
				</div>
				<!-- Grid column -->
				
			</div>
			
			<!-- Copyright -->
			<span class="float-right text-muted small">
				Copyright &copy; {% now "Y" %} <strong>DigitalFacets</strong>. All Rights Reserved.
			</span>
			<!-- Copyright -->
		</div>
	</div>
</footer>