{% extends 'base_gallery.html' %}

{% load static auth_extras %}

{% block bar_title %}
<div id="title">Photobooks</div>
{% endblock %}

{% block page_content %}
<div class="row">
	<div id="messages_wrapper" class="col-lg-12 text-center">
		{% if user.is_authenticated and user.is_superuser or user|has_group:"Power User" %}
			{% include "includes/image_upload_form.html" %}
		{% endif %}
	</div>
	<div id="image_container" class="col-lg-12 text-center">
		{% for image in images_list %}
			<a href="{% url 'gallery:image_detail' image.pk image.slug %}">
				<div class="thumbnail">
					<img id="image_{{ image.pk }}" class="img-fluid image" alt="{{ image.title}}" data-src="{{ image.data_thumbnail.url }}" src="{{ image.data_thumbnail.url }}"/>
					<div class="overlay">
						<div class="label"> {{ image.title }} </div>
					</div>
				</div>
			</a>
		{% endfor %}
		
		{% if user.is_authenticated and user.is_superuser or user|has_group:"Power User" %}
			{% if not images_list %}
				<div id="empty_placeholder">
					<p>Drag images here to upload to the photobook</p>
				</div>
			{% endif %}
		{% endif %}
	</div>
</div>
<div class="container bottom-padding-minor">
</div>
{% endblock %}

{% block page_footer %}
{% include 'includes/footer.html' %}
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{% static 'js/image_upload.js' %}"></script>
<script type="text/javascript" src="{% static 'js/infinite_scroll.js' %}"></script>
{% endblock %}