{% extends 'base_gallery.html' %}

{% load static %}

{% block stylesheet %}
	<style>
		#content {
			padding-bottom: 0;
			width: 100%;
		}
	</style>
{% endblock %}

{% block title %}
{% if photobook %}{{ photobook.title }} - {% endif %}{{ image.title }}
{% endblock %}

{% block bar_title %}
<div id="title">{% if photobook %} {{ photobook.title }} - {% endif %} {{ image.title }}</div>
{% endblock %}

{% block page_content %}
<div class="row">
	<div id="image_detail" class="col-lg-12 text-center">
		<a href="{{ image.data.url }}">
			<img id="image_preview" class="img-fluid" src="{{ image.data.url }}" alt="{{ image.title }}"/>
		</a>
		<div id="photobook_preview_box" class="d-inline-flex align-items-center">
			<ion-icon name="arrow-back" size="large"></ion-icon>
			<div id="photobook_preview">
				{% if photobook_images %}
					{% for image in photobook_images %}
						<a href="{% url 'gallery:photobook_image_detail' ppk image.pk image.slug %}#image_{{ image.pk }}" style="display: inline-block;">
							<div class="thumbnail_preview" style="display: block">
								<img id="image_{{ image.pk }}" class="img-fluid" alt="{{ image.title}}" src="{{ image.data_thumbnail.url }}"/>
								<div class="overlay">
									<div class="label preview"> {{ image.title }} </div>
								</div>
							</div>
						</a>
					{% endfor %}
				{% elif photobooks %}
					{% for photobook in photobooks %}
						{% with photobook.display_highlight as image %}
							<a href="{% url 'gallery:photobook_detail' photobook.pk photobook.slug  %}" style="display: inline-block;">
								<div class="thumbnail_preview" style="display: block">
									<img id="image_{{ image.pk }}" class="img-fluid" alt="{{ image.title}}" src="{{ image.data_thumbnail.url }}"/>
									<div class="overlay">
										<div class="label preview"> {{ image.title }} </div>
									</div>
								</div>
							</a>
						{% endwith %}
					{% endfor %}
				{% endif %}
			</div>
			<ion-icon name="arrow-forward" size="large"></ion-icon>
		</div>
	</div>
</div>
{% endblock %}

{% block javascript %}
<!-- Inline JScript to determine previous and next image urls -->
<script type="text/javascript">
	{% if previous_image %}
		previous_image_url = "{% url 'gallery:photobook_image_detail' ppk previous_image.pk previous_image.slug %}#image_{{ previous_image.pk }}";
	{% endif %}
	
	{% if next_image %}
		next_image_url = "{% url 'gallery:photobook_image_detail' ppk next_image.pk next_image.slug %}#image_{{ next_image.pk }}";
	{% endif %}
	
	/* Provide navigation keys to change the current image */
	var left = 37; var right = 39;
	document.addEventListener("keydown", function(event) {
		switch(event.which) {
			case left:
				if (previous_image_url) {
					window.location.href = previous_image_url;
				}
			break;
			case right:
				if (next_image_url) {
					window.location.href = next_image_url;
				}
			break;
			default: return;
		}
		event.preventDefault();
	});
</script>
{% endblock %}