{% extends 'base_gallery.html' %}

{% load static %}

{% block title %}
	{% if photobook %}{{ photobook.title }} - {% endif %}{{ image.title }}
{% endblock %}

{% block stylesheet %}
	<!-- Override underlying CSS styles -->
	
{% endblock %}

{% block bar_title %}
	<div id="title">HELP{% if photobook %} {{ photobook.title }} - {% endif %} {{ image.title }}</div>
{% endblock %}


{% block bar_detail %}
Help
	<!--
	{% if image.exif.Camera %}
		<img class="exif_icon" src="{% static 'img/camera.png' %}" title="Camera"/>
		{{ image.exif.Camera }}
	{% endif %}
	{% if image.exif.LensModel %}
		<img class="exif_icon" src="{% static 'img/lens.png' %}" title="Lens"/>
		{{ image.exif.LensModel }}
	{% endif %}
	{% if image.exif.FocalLengthIn35mmFilm %}
		<img class="exif_icon" src="{% static 'img/35mm.png' %}" title="Focal Length (35mm)"/>
		{{ image.exif.FocalLengthIn35mmFilm }}mm
	{% endif %}
	{% if image.exif.Aperture %}
		<img class="exif_icon" src="{% static 'img/aperture.png' %}" title="Aperture"/>
		F/{{ image.exif.Aperture }}
	{% endif %}
	{% if image.exif.Exposure %}
		<img class="exif_icon" src="{% static 'img/exposure.png' %}" title="Exposure"/>
		{{ image.exif.Exposure }}s		
	{% endif %}
	{% if image.exif.ISOSpeedRatings %}
		<img class="exif_icon" src="{% static 'img/iso.png' %}" title="ISO"/>
		ISO {{ image.exif.ISOSpeedRatings }}
	{% endif %}
	-->
{%  endblock %}

{% block page_content %}
	<a href="{{ image.data.url }}">
		<img id="image_preview" src="{{ image.data.url }}" alt="{{ image.title }}"/>
	</a>
	
	<div id="photobook_preview">
		{% if photobook_images %}
			{% for image in photobook_images %}
				<a href="{% url 'gallery:photobook_image_detail' ppk image.pk image.slug %}#image_{{ image.pk }}" style="display: inline-block;">
					{% include 'includes/thumbnail_preview.html' %}
				</a>
			{% endfor %}
		{% elif photobooks %}
			{% for photobook in photobooks_list %}
				{% with photobook.display_highlight as image %}
					<a href="{% url 'gallery:photobook_detail' photobook.pk photobook.slug  %}" style="display: inline-block;">
						{% include 'includes/thumbnail_preview.html' %}
					</a>
				{% endwith %}
			{% endfor %}
		{% endif %}
	</div>
{% endblock %}

{% block javascript %}
	<!-- Inline JScript to determine previous and next image urls -->
	<script type="text/javascript">
		{% if previous_image %}
			previous_image_url = "{% url 'gallery:photobook_image_detail' ppk previous_image.pk previous_image.slug %}#image_{{ previous_image.pk }}";
		{% endif %}
		
		{% if next_image %}
			next_image_url = "{% url 'gallery:photobook_image_detail' ppk next_image.pk next_image.slug %}#image_{{ next_image.pk }}";
		{% endif %}
	</script>
	<script type="text/javascript" src="{% static 'js/image_navigation.js' %}"></script>
{% endblock %}