Good day,

Someone asked for a password reset for the email address {{ email }}. Follow/click the link below:
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

The username associated with this email address is: {{ user.username }}

If clicking the link above does not work, please copy and paste the complete link in a new browser window instead.

If you have received this email in error, it is likely that another user incorrectly entered your email address by mistake while trying to reset a password. If you did not initiate this password reset request, you do not need to take any further action and can safely disregard this email.

Thank you. 