{% extends 'base_iam.html' %}

{% block title %}Change Password{% endblock %}

{% block breadcrumb %}
	<!--<li class="breadcrumb-item active">Change Password</li>-->
{% endblock %}

{% block page_content %}
	<div class="row justify-content-center">
		<div class="col-lg-6 col-md-8 col-sm-10">
			<div class="card">
				<div class="card-body">
					<h3 class="card-title">Password Reset</h3>
					<form method="post" novalidate>
						{% csrf_token %}
						{% include 'includes/form.html' %}
						<button type="submit" class="btn btn-success btn-block">Change Password</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="container bottom-padding-major">
	</div>
{% endblock %}

{% block page_footer %}
	<!-- Footer section of page -->
	{% include 'includes/footer.html' %}
{% endblock page_footer %}