{% extends 'base_gallery.html' %}

{% load static %}

{% block bar_title %}
<div id="title">My Photobooks</div>
{% endblock %}

{% block page_content %}
<div class="row">
	<div id="image_container" class="col-lg">
		{% for photobook in photobooks_list %}
			<a href="{% url 'gallery:photobook_detail' photobook.pk photobook.slug %}">
				{% if photobook.display_highlight %}
					{% with photobook.display_highlight as image %}
						<div class="thumbnail shadow p-3 bg-white rounded">
							<img id="image_{{ image.pk }}" class="img-fluid" alt="{{ image.title}}" src="{{ image.data_thumbnail.url }}" style="width: {% widthratio image.data_thumbnail.width 10 9 %}px;margin-right: {{ image_margin }}px"/>
							<div class="overlay">
								<div class="label"> {{ image.title }} </div>
							</div>
						</div>
					{% endwith %}
				{% else %}
					<div class="thumbnail shadow p-3 bg-white rounded">
						<img id="image_{{ forloop.counter0 }}" class="img-fluid empty" alt="{{ photobook.title }}" src="{% static 'img/album.png' %}"/>
						<div class="overlay">
							<div class="label"> {{ photobook.title }} </div>
						</div>
					</div>
				{% endif %}
			</a>
		{% endfor %}
	</div>
</div>
<div class="container bottom-padding-minor">
</div>
{% endblock %}

{% block page_footer %}
{% include 'includes/footer.html' %}
{% endblock %}