{% extends 'base_iam.html' %}

{% block title %}Digital Facets - Join Today{% endblock %}

{% block page_content %}
	<div class="row justify-content-center">
		<div class="col-lg-6 col-md-8 col-sm-12">
			<div class="card">
				<div class="card-body">
					<h3 class="card-title">Sign Up</h3>
					<form id="signupform" method="post" novalidate>
						{% csrf_token %}
						{% include 'includes/form.html' %}
						<button type="submit" class="btn btn-info btn-block">Create an Account</button>
						
						<!-- Google RECAPTCHA Implementation --!>
						<input type="hidden" name="g-recaptcha-response" id="g-recaptcha-response">
						<script src='https://www.google.com/recaptcha/api.js?render={{ RECAPTCHA_SITE_KEY }}'></script>
						<script type="text/javascript">
							grecaptcha.ready(function() {
								$('#signupform').submit(function(e){
									var form = this;
									e.preventDefault()
									grecaptcha.execute('{{ RECAPTCHA_SITE_KEY }}', {action: 'signup'}).then(function(token) {
										$('#g-recaptcha-response').val(token)
										form.submit()
									});
								})
							});
						</script>
						<!-- End Google RECAPTCHA Implementation -->
						
					</form>
				</div>
				<div class="card-footer text-muted text-center">
					Already have an account? <a href="{% url 'pages:login' %}">Log in</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}